# see clang-format documentation: https://clang.llvm.org/docs/ClangFormatStyleOptions.html

# specifies the code style: https://google.github.io/styleguide/cppguide.html
BasedOnStyle: Google

# Doxygen settings
ReflowComments: true
CommentPragmas: '( \| |\*--|<li>|@ref | @p |@param |@name |@returns |@warning |@ingroup |@author |@date |@related |@relates |@relatesalso |@deprecated |@image |@return |@brief |@attention |@copydoc |@addtogroup |@todo |@tparam |@see |@note |@skip |@skipline |@until |@line |@dontinclude |@include)'

# Custom modifications to code style
IndentAccessModifiers: true
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterFunction: true