name: Build and Push Docker Image

on: [push]
#  push:
#    branches:
#      - main  # Trigger the workflow on pushes to the main branch
jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
      with:
        install: true
    
    - name: Cache Docker layers
      uses: actions/cache@v3
      with:
        path: /tmp/.buildx-cache
        key: ${{ runner.os }}-buildx-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-buildx-
    
    - name: Log in to DockerHub as simvascular
      uses: docker/login-action@v2
      with:
        username: simvascular
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v3
      with:
        context: .
        file: ./Docker/solver/dockerfile
        push: true
        tags: simvascular/solver:latest
        cache-from: type=local,src=/tmp/.buildx-cache
        cache-to: type=local,dest=/tmp/.buildx-cache-new,mode=max
    
    - name: Move new cache to old cache
      if: always()
      run: mv /tmp/.buildx-cache-new /tmp/.buildx-cache
