# This workflow builds and deploys the html documentation
name: Documentation
on: [push, pull_request]
permissions:
  contents: write
jobs:
  documentation:
    runs-on: ubuntu-latest
    steps:
      - name: Build doxygen documentation
        run: |
          sudo apt install -y doxygen
          doxygen ./Documentation/Doxyfile
          echo $(pwd)
          echo $(ls -lah)
      - name: Save documentation
        uses: actions/upload-artifact@v3
        with:
          name: documentation
          path: Documentation/build/html
      - name: Deploy documentation
        if: github.ref == 'refs/heads/master'
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: Documentation/build/html
